---

---

<div>
    <span class="annually">Annually</span>
    <input type="checkbox" name="check" id="check" />
    <label for="check"></label>
    <span class="monthly">Monthly</span>
</div>

<style>
    div {
        margin-block: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    #check {
        opacity: 0;
        position: absolute;
        left: -5000px;
        top: -5000px;
    }

    span {
        color: var(--light-grayish-blue);
        cursor: pointer;
    }

    label {
        display: inline-block;
        width: 45px;
        height: 24px;
        border-radius: 20px;
        background: linear-gradient(
            to right,
            hsl(236, 72%, 79%),
            hsl(237, 63%, 64%)
        );
        position: relative;
        cursor: pointer;
    }

    label::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: var(--very-light-grayis-blue);
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        right: 2px;
    }

    #check:checked + label::after {
        right: auto;
        left: 2px;
    }
</style>
